page-mp-zaprimanjeiotpremarobe-vrstadokumenta {
.label-md, .label-ios {
    margin: 10px 8px 10px 0;
}
#label2 .label-md, #label2 .label-ios{
    margin: -2px 7px -2px 0;
}
#label2 .item-md, #label2 .item-ios {
    padding-left: 5px;
}
#label2 .item-divider-md-light, #label2 .item-divider-ios {
    padding-left: 5px;
}
.plava {
    color: #488aff; 
    font-weight: bold;
    font-size: 16px;
}
#label3 .grid, #label3 .row, #label3 .col {
    padding: 0px;
}
.button-md {
    margin: 0px;
}
.ikonavelika{
    font-size: 3em !important;
    text-align: center;
}
.grid{
    padding: 0px;
}
.nemapodataka{        
    text-align: center;
}
.boja {
    background-color: #91b9ff;
}
}
