page-utility-dmsv2-folder {
   .list {
       margin-bottom: 100px;
   }
   .breadcrumb .label {
        font-size: 1.2rem!important;
   }


    ion-list-header{
        margin-top: 10px;
    }
     
    ion-toast.error .toast-wrapper {
        background: rgb(209, 71, 71) !important;
    }
}