page-skladiste-inventura{
    .icon-inventura {
        color: grey;
    }

    .item-divider{
        background:rgb(216, 211, 211);
        font-weight: bold;
        color: black;
    }

    .icon-col{
        width: 10%;
    }
    .item-visina {
        height: 60px;
    }
    .item-bold {
        font-weight: bold;
    }
    
}

.inventura{
    .text-red{
        color: red;
    }

    .item-bold {
        font-weight: bold;
    }
}