<ion-header>
    <js-header title="Roba - {{roba.items.naziv}}" [showClose]="true"></js-header>
</ion-header>

<ion-content>

    <ion-list>
         <js-nodata *ngIf="roba.items.stanje.length == 0"></js-nodata>
         <accordion-list *ngFor="let item of roba.items.stanje | search: term:'skladiste'; let fst = first;" title="{{item.skladiste}}" textColor="#333" hasMargin="false" headerColor="#e6e6e6" [expanded]="fst">
             <ion-list>
                <ion-item full>
                   Količina
                    <ion-note item-right>{{item.stanje | numberFormat:3}}</ion-note>
                </ion-item>
                <ion-item>
                    Raspoloživo
                    <ion-note item-right>{{item.raspolozivo | numberFormat:3}}</ion-note>
                </ion-item>
                <ion-item>
                    Rezervirano
                    <ion-note item-right>{{item.rezervirano | numberFormat:3}}</ion-note>
                </ion-item>
                <ion-item>
                    Naručeno
                    <ion-note item-right>{{item.naruceno | numberFormat:3}}</ion-note>
                </ion-item>
            </ion-list>
            
        </accordion-list>

    </ion-list>


</ion-content>