<!--
  Generated template for the Barcode page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button (click)="goBack()">
                <ion-icon class="close" name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Barcode scanner</ion-title>
        <ion-buttons end>
            <button large ion-button (click)="favoritesProvider.addRemoveFavorite()">
                <ion-icon style="font-size:24px; color:orange" name="star" *ngIf="favoritesProvider.favoriteExists==true"></ion-icon>
                <ion-icon style="font-size:24px" name="star-outline" *ngIf="favoritesProvider.favoriteExists==false"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <div class="subtitle light">
        {{globalProvider.getSubTitle()}}
    </div>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let item of barcodes">
      <button ion-item>
        <h2>{{item.name}}</h2>
        <p class="item-description">{{item.barcode}} <i style="color: #666666">({{item.format}})</i></p>
      </button>
      <ion-item-options side="right">
        <button ion-button icon-only color="danger" (click)="delete(item)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-fab bottom right>
    <button ion-fab (click)="scan()"><ion-icon name="barcode"></ion-icon></button>
  </ion-fab>
</ion-content>
