page-mpinventurapocetna {
    .moj-bg {
        height: 100%;
        background: url(../images/bg_jupiter.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    .sidemenu-footer {
        color: white;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
    }


}