dms-list {
    
    
    .sub {
        background: #445a6d;
        color: white;
        padding:4px;
        text-align: left;
        border-top: 1px solid #49637a;
        font-size:1.2rem;


        &.light {
            background-color: map-get($colors, light)!important;
        }
      }


}
