page-utility-odobravanje-detalji-det { 
    .grid {
        
            .button-md-crvena {
                background-color: #b4564b;
            }

            .button-md-zelena {
                background-color: #419e5d; 
            }

            .button-md-view {
                background-color: #7f7d7d; 
            }

        }
}


