dms-page {
    .bgImage {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height:150px;
    }
    .accordion-content {
        padding: 0!important;

    }
   .accordion-note{
       color: black !important;
   }

}
