    <ion-navbar [color]="showSub == false ? 'skin1' : ''">
        <ion-buttons left>
            <button ion-button menuToggle *ngIf="type=='apps'">
                <ion-icon class="close" name="menu"></ion-icon>
            </button>
            <button ion-button (click)="goBack()" *ngIf="showClose==true || forceHideClose==true">
                <ion-icon class="close" name="close-circle"></ion-icon>
            </button>
            <ng-content select="[js-buttons]"></ng-content>
        </ion-buttons>
        <ion-title><span [innerHTML]="title"></span></ion-title>
        <ion-buttons end>
            <button large ion-button (click)="addRemoveFavorite()" *ngIf="showFavorite==true">
                <ion-icon class="favorite-active" name="star" *ngIf="favoriteExists==true"></ion-icon>
                <ion-icon class="favorite-inactive" name="star-outline" *ngIf="favoriteExists==false"></ion-icon>
            </button>
            <ng-content select="[js-buttons-end]"></ng-content>
        </ion-buttons>
    </ion-navbar>
    <div class="subtitle jupiter" style="position:relative" *ngIf="showSub==true">
        {{globalProvider.getSubTitle()}}
        <img src="assets/images/jupiter-logo-min.svg" *ngIf="type=='apps'" class="login-logo" style="position: absolute; height: 27px; right:4px; top:-7px; z-index:9999" />
    </div>