js-header {
    .back-button {
        margin-left: 0px;
        padding-left: 0px;
        min-width: 32px;
    }

    .subtitle {
        padding:4px;
        text-align: center;
        border-top: 1px dotted #cccccc;
        font-size:1.2rem;
        background-color:rgb(244, 244, 247)!important;
        &.light {
            background-color: map-get($colors, light)!important;
        }
    }


    .toolbar-title {
        font-size: 1.5rem!important
    }

    ion-navbar {
        min-height:40px!important;
    }

    ion-toolbar.subheader {
        min-height: 20px!important;
        border-top: 1px solid #cccccc;
        .toolbar-title {
            font-size: 10pt!important;
        }
    }


    ion-title {
        position: absolute;
        top: 0;
        left: 30px;
        right: 30px;
        //padding: 0 60px 1px;
        //width: 100%;
        height: 100%;
        text-align: center;
    }


    .sidebar-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    ion-icon.close {
        font-size:2rem!important;
    }
}
