page-konsolidacija-trazilica {
.grid, .row, .col {
    padding: 0px;
}
.odabrano{
    background-color: lightslategray !important;
    color: red !important;
}
.spin-boja {
    color: #c0392b;
    font-weight: bold;
}
}
