page-core-cc-company {
    .company-icon {
            //display: inline-block;
            position: absolute;
            background-size: cover;
            //background-color: #eee;
            width: 24px!important;
            height: 24px!important;

            font-size: 12px;
            margin-top:-4px;

        }
    .company-name {
        //display: inline-block;
        margin-left:35px;
    }        
}
