page-mp-stanje-detalj {
    .item-ios {
        font-size: 1.4rem;
    }
    .ikonavelika{
        font-size: 3em !important;
        position:absolute;
        left: 0;
        right: 0;
        margin:0 auto;
        top:15%;
        transform:translateY(-15%);
    }
    .nemapodataka{        
        position:absolute;
        left: 0;
        right: 0;
        margin:0 auto;
        top:25%;
        transform:translateY(-25%);  
    }
    .grid, .row, .col {
        padding: 0px;
    }
    .plava {
        color: #488aff; 
        font-weight: bold;
    }
    #option-icon .icon-md {
        font-size: 1.2em!important;
    }
    .label-md, .label-ios {
        margin: 7px 8px 7px 0;
    }
    .item-md, .item-ios {
        padding-left: 5px;
    }
    .item-md.item-block .item-inner {
        padding-right: 0px;
    }
    .item-ios.item-block .item-inner {
        padding-right: 0px;
    }

    .danger{
        color: #c0392b;

    }
    .primary{
        color: #488aff;
    }
    .secondary{
        color: #32db64;
    }
    // .icon-md {
    //     font-size: 1.2em;
    //     padding-bottom: 0px!important;
    // }
    // .icon-ios {
    //     font-size: 1.5em!important;
    //     padding-bottom: 0px!important;
    // }
}
