page-klasa-robe {
	.list-header .item-inner{
		text-align: center;
	}


	.note{
		padding-bottom: 15px;
		font-size: 1.5rem!important;
		color: #fff;
	}

	.icon{
		padding-right: 0px;
	}

	.segment-md .segment-button.segment-activated{
		border-color: #C0392B;
	}

	.toolbar .segment-md .segment-button.segment-activated {
		color: #C0392B;
	}

}


