page-danas {


    // .content{
    //     margin-top: 16px;
    //     width: 100%;
    //     display: block;
    //     float: left;
    // }

    .vrijemeText{
        margin-top: 8px;
        text-align: right;
    }


    .nedefinirano {
        font-style: italic;
        color: #969696;
    }

    .bgImage {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height:30px;
    }

}
