<ion-header>
    <js-header title="Roba - {{roba.items.naziv}}" [showClose]="true"></js-header>
</ion-header>



<ion-content>

    <ion-list>
        <js-nodata *ngIf="roba.items.cjenici.length == 0"></js-nodata>
         <accordion-list *ngFor="let item of roba.items.cjenici | search: term:'opis'; let fst = first;" title="{{item.opis}}" textColor="#333" hasMargin="false" headerColor="#e6e6e6" [expanded]="fst">

             <ion-list>
                <ion-item full>
                    Bruto KN
                    <ion-note item-right>{{item.brutocijenakn | numberFormat:2}}</ion-note>
                </ion-item>
                <ion-item>
                    Neto KN
                    <ion-note item-right>{{item.netocijenakn | numberFormat:2}}</ion-note>
                </ion-item>
                <ion-item>
                    Bruto Bod
                    <ion-note item-right>{{item.brutocijenabod | numberFormat:2}}</ion-note>
                </ion-item>
                <ion-item>
                    Neto Bod
                    <ion-note item-right>{{item.netocijenabod | numberFormat:2}}</ion-note>
                </ion-item>
                <ion-item>
                    MPC KN
                    <ion-note item-right>{{item.mpcijenakn | numberFormat:2}}</ion-note>
                </ion-item>
                <ion-item>
                    MPC Bod
                    <ion-note item-right>{{item.mpcijenabod | numberFormat:2}}</ion-note>
                </ion-item>
            </ion-list>
            
        </accordion-list>

    </ion-list>


</ion-content>