page-shared-date-filter {
    .list {
        margin: 0px!important;
    }
    .item {
        padding-left: 0px;
        .item-inner {
            padding-left: 16px;
        }
    }
    .item-block {
        min-height: 3.8rem;
    }
    .label {
        margin: 10px 8px 10px 0;
    }

    ion-list.main {
        border-top:1px solid #999;
    }

    ion-list.sub {
        border-top:1px solid #999;
        .item-block {
            min-height: 2.8rem;
        }
        .label {
            margin: 8px 8px 8px 0;
        }
        .item-inner {
            background-color: #f5f5f5;
            font-size: 1.4rem;
            font-style: italic;
        }
    }

    ion-item.sub {
        background-color: #f1f1f1;
        font-style: italic;
        color: #999;
    }
}
