<ion-header>
    <js-header title="Partner - {{partner.naziv}}" [showClose]="true"></js-header>
    <ion-toolbar class="light">
        <ion-searchbar (ionInput)="searchFn($event)" (ionCancel)="onCancel($event)" autocorrect="off"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="partner.loading==false">
        <ion-item-sliding *ngFor="let item of partner.osobe | search: term:'prezime#ime'">
            <button ion-item (click)="detailItem(item)">
                <ion-avatar item-left>
                    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTqXSYBLBOU_P1Q5H62ae3uxVzO8O3eErJH5DgbBBMP6mYD0crl5Q" />
                </ion-avatar>
                <h2>{{item.prezime}} {{item.ime}}</h2>
                <p class="item-description">{{item.odjel}} - {{item.funkcija}}</p>
            </button>
            <ion-item-options side="right">
                <button ion-button icon-only color="secondary" (click)="call(item.mobile)">
                    <ion-icon name="call"></ion-icon>
                </button>
                <button ion-button icon-only color="primary" (click)="mailto(item.mailto)">
                    <ion-icon name="mail"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-spinner name="bubbles" fill *ngIf="partner.loading==true"></ion-spinner>
</ion-content>