page-skladiste-search-modal {
    .highlight {
        background-color: yellow;
    }

    ion-badge {
        position: absolute!important;
        background-color:gray!important;
        opacity:0.5;
        right:30px;
        margin: 1.3rem 2rem 1.3rem 0;
    }
}
