page-utility-inventura-sinkronizacija {
    
     .centered {
        border-radius: 25px;
        border: 5px solid #364b5e;
        padding: 10px 0px 10px 25px;
        width: 125px;
        height: 125px; 
        margin: 110px 100px 100px 110px;
    }

}
