.ios, .md {
        page-radni-nalozi-izmjena-napomene-modal {
                ion-content {
                        button {
                                margin-top: 2rem;
                                height:4rem;
                        }   

                        ion-label {
                                margin-bottom:2rem!important;
                        }
                }
                     
        }
}
