page-roba-info {
    ion-item div.title {
        color: #999999;
        font-size: 9pt;
        margin-bottom:4px;
    }

    ion-label div.content {
        word-wrap: break-word!important;
        white-space: normal;
    }
}