<ion-header>
    <js-header title="Roba - {{roba.naziv}}" [showClose]="true"></js-header>
</ion-header>

<ion-content>

    <ion-list>
         <js-nodata *ngIf="roba.nabava.length == 0"></js-nodata>
         <accordion-list *ngFor="let item of roba.nabava | search: term:'partner#ugovor'; let fst = first;" title="{{item.partnerugovor}}" textColor="#333" hasMargin="false" headerColor="#e6e6e6" [expanded]="fst">

             <ion-list>
                <ion-item full>
                   Ugovor
                    <ion-note item-right>{{item.ugovor}}</ion-note>
                </ion-item>
                <ion-item>
                   Izvorna cijena
                    <ion-note item-right>{{item.listprice | numberFormat:2}}</ion-note>
                </ion-item>
                <ion-item>
                    Dob. bod
                    <ion-note item-right>{{item.dobbod | numberFormat:2}}</ion-note>
                </ion-item>
                <ion-item>
                   Izvorna cijena NB
                    <ion-note item-right>{{item.naslistprice | numberFormat:2}}</ion-note>
                </ion-item>
                 <ion-item>
                  Nabavna cijena NB
                    <ion-note item-right>{{item.nasanabavna | numberFormat:2}}</ion-note>
                </ion-item>
                 <ion-item>
                   Datum
                    <ion-note item-right>{{item.datum | date: 'dd.MM.yyyy'}}</ion-note>
                </ion-item>
                 <ion-item>
                   Min.kol
                    <ion-note item-right>{{item.minkolicina | numberFormat:2}}</ion-note>
                </ion-item>
                <ion-item>
                   Opis
                    <ion-note item-right>{{item.opis}}</ion-note>
                </ion-item>
            </ion-list>
            
        </accordion-list>

    </ion-list>


</ion-content>