page-stavka-kontingent{
    .item-divider{
        background:rgb(216, 211, 211);
        font-weight: bold;
        color: black;
    }

    .button-kontingent{
        width: 80%;
        margin-left: 10%;
      }


}

