page-skladiste-prijemni-list-pregled-filter {
    ion-select {
        width:100% !important;
        max-width: 100%;
        padding-left:0 !important;
    }
    ion-label {
        width:100% !important
    }

    
    .ionFabMargin {
        margin-right:20px;
        margin-bottom:20px;
    }
}
