page-konsolidacija-detalji-lista {
    .item-md, .item-ios {
        padding: 0px;
    }
    .item-ios {
        font-size: 1.4rem;
    }
    // .icon-md {
    //     font-size: 1.2em;
    //     padding-bottom: 0px!important;
    // }
    // .icon-ios {
    //     font-size: 1.5em!important;
    //     padding-bottom: 0px!important;
    // }

    .label-md, .label-ios {
        margin: 7px 8px 7px 0;
    }
}
