<ion-header>
    <js-header title="KPI - Grafikoni" [showClose]="true"></js-header>
    <ion-item class="filter">
        <ion-label>Filter (datum):</ion-label>
        <ion-datetime displayFormat="DD.MM.YYYY" [(ngModel)]="managerKpiProvider.datum"></ion-datetime>
    </ion-item>

</ion-header>

<ion-content>
    <div padding *ngIf="wait==true">
        <div class="spinner-container">
            <ion-spinner name="bubbles"></ion-spinner>
            <div class="caption">Učitavanje. Molim pričekajte...</div>
        </div>
    </div>
    <div *ngIf="wait==false">
        <ion-item-group *ngFor="let p of cards">
            <ion-item-divider color="light">{{p.naziv}}</ion-item-divider>
            <button ion-item (click)="startModule(pp, p.datumDo)" *ngFor="let pp of p.grafikonList">
                {{pp.naziv}}
            </button>
        </ion-item-group>
    </div>
</ion-content>