page-ugovori-s-dobavljacima-detalji-lista {
    .grid{
        padding: 0px;
    }
    ion-note {
        color: black!important;
    }
    // .label-md, .label-ios {
    //     margin: 9px 8px 6px 0px;
    // }
    #moj-label .label-md, #moj-label .label-ios {
        margin: 0px 8px 0px 0;
    }
    #labell .label-md, #labell .label-ios {
        margin: 7px 8px 7px 0;
    }
    // .icon-md {
    //     font-size: 1.2em;
    //     padding-bottom: 0px!important;
    // }
    // .icon-ios {
    //     font-size: 1.5em!important;
    //     padding-bottom: 0px!important;
    // }
}
