<ion-header>
    <js-header title="Cash flow analiza - izvještaj"></js-header>
    <div class="container">
        <div class="a1">Izvještajno razdoblje
            <br><span>{{provider.parametriIzv.datumod | date:"dd.MM.yyyy"}} - {{provider.parametriIzv.datumdo | date:"dd.MM.yyyy"}}</span>
        </div>
        <div class="b1" *ngIf="provider.parametriRef.include">Referentno razdoblje
            <br><span>{{provider.parametriRef.datumod | date:"dd.MM.yyyy"}} - {{provider.parametriRef.datumdo | date:"dd.MM.yyyy"}}</span>
        </div>
    </div>
</ion-header>

<ion-content>
    <js-content></js-content>
    <div style="text-align:center; padding:10px;" *ngIf="loading==true">
        <ion-spinner name="bubbles"></ion-spinner>
        <div text-center>učitavanje</div>
    </div>
    <ng-container *ngIf="loading==false">
        <accordion-list title="" hasMargin="false" [headerColor]="accordionColor" [expanded]="true" [hideNoteOnExpand]="true">
                <div accordion-header-custom style="position:absolute; left:0; top:0; right:0; border-bottom: 2px solid lightgray !important;"  >
                    <div class="custheader">
                    <div class="info1" *ngIf="provider.parametriRef.include">PRILIV</div>
                    <div class="includeb1 " *ngIf="provider.parametriRef.include">{{dataDef?.data?.ukupanpriliv}}</div>
                    <div class="includeb2 " *ngIf="provider.parametriRef.include">{{dataDef?.dataRef?.ukupanpriliv}}</div>
                    <div class="includeb3 " *ngIf="!provider.parametriRef.include">PRILIV</div>
                    <div class="includeb4 " *ngIf="!provider.parametriRef.include">{{dataDef?.data?.ukupanpriliv}}</div>
                    </div>
                </div>
            
            <usporedba-item caption="KOMERCIJALNI PRILIV" [valueA]="dataDef?.data?.komercijalnipriliviznos" [valueB]="dataDef?.dataRef?.komercijalnipriliviznos" [includeB]="provider.parametriRef.include"></usporedba-item>
            <!--<usporedba-item caption="RUC U PRILIVU" [valueA]="dataDef?.data?.komercijalniprilivruc" [valueB]="dataDef?.dataRef?.komercijalniprilivruc" [includeB]="provider.parametriRef.include" [highlight]="true"></usporedba-item>-->
            <usporedba-item caption="OSTALI PRILIV" [valueA]="dataDef?.data?.ostalipriliv" [valueB]="dataDef?.dataRef?.ostalipriliv" [includeB]="provider.parametriRef.include" ></usporedba-item>
        </accordion-list>
        <ion-note>
            <usporedba-item caption="ODLIV" [valueA]="dataDef?.data?.ukupanodliv" [valueB]="dataDef?.dataRef?.ukupanodliv" [includeB]="provider.parametriRef.include" [highlight]="true"></usporedba-item>
        </ion-note>
        <ion-note>
            <usporedba-item caption="REZULTAT" [valueA]="dataDef?.data?.rezultat" [valueB]="dataDef?.dataRef?.rezultat" [includeB]="provider.parametriRef.include" [highlight]="true"></usporedba-item>
        </ion-note>
        <ion-note>
            <usporedba-item caption="RUC U PRILIVU" [valueA]="dataDef?.data?.komercijalniprilivruc" [valueB]="dataDef?.dataRef?.komercijalniprilivruc" [includeB]="provider.parametriRef.include" [highlight]="true"></usporedba-item>
        </ion-note>
        <ion-item-group>
            <ion-item-divider class="group-blue">Dnevni prosjek
                <ion-note item-end>dana: {{dataDef?.data?.brojdana}}<span *ngIf="provider.parametriRef.include"> / {{dataDef?.dataRef?.brojdana}}</span></ion-note>
            </ion-item-divider>
        </ion-item-group>   
        <accordion-list title="" hasMargin="false" [headerColor]="accordionColor" [expanded]="true" [hideNoteOnExpand]="true">
                <div accordion-header-custom style="position:absolute; left:0; top:0; right:0; border-bottom: 2px solid lightgray !important;">
                    <div class="custheader">
                    <div class="info1" *ngIf="provider.parametriRef.include">PRILIV</div>
                    <div class="includeb1 " *ngIf="provider.parametriRef.include">{{dataDef?.data?.ukupanprilivdnevniprosjek}}</div>
                    <div class="includeb2 " *ngIf="provider.parametriRef.include">{{dataDef?.dataRef?.ukupanprilivdnevniprosjek}}</div>
                    <div class="includeb3 " *ngIf="!provider.parametriRef.include">PRILIV</div>
                    <div class="includeb4 " *ngIf="!provider.parametriRef.include">{{dataDef?.data?.ukupanprilivdnevniprosjek}}</div>
                    </div>
                </div>
            <usporedba-item caption="KOMERCIJALNI PRILIV" [valueA]="dataDef?.data?.komercijalnipriliviznosdnevniprosjek" [valueB]="dataDef?.dataRef?.komercijalnipriliviznosdnevniprosjek" [includeB]="provider.parametriRef.include"></usporedba-item>
            <usporedba-item caption="OSTALI PRILIVI" [valueA]="dataDef?.data?.ostaliprilivdnevniprosjek" [valueB]="dataDef?.dataRef?.ostaliprilivdnevniprosjek" [includeB]="provider.parametriRef.include"></usporedba-item>
        </accordion-list>
       <ion-note>
            <usporedba-item caption="ODLIV" [valueA]="dataDef?.data?.ukupanodlivdnevniprosjek" [valueB]="dataDef?.dataRef?.ukupanodlivdnevniprosjek" [includeB]="provider.parametriRef.include" [highlight]="true"></usporedba-item>
        </ion-note>
       <ion-note>
            <usporedba-item caption="REZULTAT" [valueA]="dataDef?.data?.rezultatdnevniprosjek" [valueB]="dataDef?.dataRef?.rezultatdnevniprosjek" [includeB]="provider.parametriRef.include" [highlight]="true"></usporedba-item>
        </ion-note>
        <ion-note>
            <usporedba-item caption="RUC U PRILIVU" [valueA]="dataDef?.data?.komercijalniprilivrucdnevniprosjek" [valueB]="dataDef?.dataRef?.komercijalniprilivrucdnevniprosjek" [includeB]="provider.parametriRef.include" [highlight]="true"></usporedba-item>
        </ion-note>
        <ion-item-group>            
            <ion-item-divider class="group-blue">Indeksi <span class="sub">(izvještajno / referentno razdoblje)</span></ion-item-divider>
        </ion-item-group>   
        <accordion-list title="" hasMargin="false" [headerColor]="accordionColor" [expanded]="true" [hideNoteOnExpand]="true">
        <div accordion-header-custom style="position:absolute; left:0; top:0; right:0; border-bottom: 2px solid lightgray !important;"  >
                    <div class="custheader">
                    <div class="info1" *ngIf="provider.parametriRef.include">PRILIV</div>
                    <div class="includeb1 " *ngIf="provider.parametriRef.include">{{dataDef?.data?.ukupanprilivdnevniprosjekindex}}</div>
                    <div class="includeb2 " *ngIf="provider.parametriRef.include">{{dataDef?.dataRef?.ukupanprilivdnevniprosjekindex}}</div>
                    <div class="includeb3 " *ngIf="!provider.parametriRef.include">PRILIV</div>
                    <div class="includeb4 " *ngIf="!provider.parametriRef.include">{{dataDef?.data?.ukupanprilivdnevniprosjek}}</div>
                    </div>
                </div>
            <usporedba-item caption="KOMERCIJALNI PRILIV" [valueA]="dataDef?.data?.komercijalnipriliviznosdnevniprosjekindex" [valueB]="dataDef?.dataRef?.komercijalnipriliviznosdnevniprosjekindex" [includeB]="provider.parametriRef.include"></usporedba-item>
            <usporedba-item caption="OSTALI PRILIVI" [valueA]="dataDef?.data?.ostaliprilivdnevniprosjekindex" [valueB]="dataDef?.dataRef?.ostaliprilivdnevniprosjekindex" [includeB]="provider.parametriRef.include"></usporedba-item>
        </accordion-list>
       <ion-note>
            <usporedba-item caption="ODLIV" [valueA]="dataDef?.data?.ukupanodlivdnevniprosjekindex" [valueB]="dataDef?.dataRef?.ukupanodlivdnevniprosjekindex" [includeB]="provider.parametriRef.include" [highlight]="true"></usporedba-item>
        </ion-note>
       <ion-note>
            <usporedba-item caption="REZULTAT" [valueA]="dataDef?.data?.rezultatdnevniprosjekindex" [valueB]="dataDef?.dataRef?.rezultatdnevniprosjekindex" [includeB]="provider.parametriRef.include" [highlight]="true"></usporedba-item>
        </ion-note>
       <ion-note>
            <usporedba-item caption="RUC U PRILIVU" [valueA]="dataDef?.data?.komercijalniprilivrucdnevniprosjekindex" [valueB]="dataDef?.dataRef?.komercijalniprilivrucdnevniprosjekindex" [includeB]="provider.parametriRef.include" [highlight]="true"></usporedba-item>
        </ion-note>
    </ng-container>
</ion-content>